.quoteSection {
  width: 100%;
}

.titleContainer {
  width: 100%;
  background-color: #E8EAE1;
  max-height: 686px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 259px 40px;
  overflow: hidden;
}

.title {
  font-family: var(--font-geogrotesque);
  font-weight: 600;
  font-size: 60px;
  color: #231F20;
  line-height: 90%;
  text-transform: uppercase;
  max-width: 1820px;
  width: 100%;
  white-space: pre-wrap;
  text-wrap: balance;
  text-align: center;
}

.imageContainer {
  width: 100%;
  position: relative;
  height: 550px;
  overflow: hidden;
}

.imageWrapper {
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 660px;
}

.imageInner {
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .titleContainer {
    padding: 60px 20px;
  }

  .title {
    font-size: 40px;
    white-space: normal;
    text-wrap: wrap;
  }
}

