.servicesAccordion {
  /* padding: 80px 0; */
  width: 100%;
  background: #f7550c;
}

.container {
  display: flex;
  gap: 0;
  max-width: 1820px;
  margin: 0 auto;
  background: #E8EAE1;
}

.imageColumn {
  width: 50%;
  position: relative;
  overflow: hidden;
  background: #f7550c;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.accordionColumn {
  width: 50%;
  background-color: #F7550C;
  padding: 40px 0 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.accordionItem {
  border-bottom: 1px solid rgba(35, 31, 32, 0.3);
}

.accordionItem:first-child {
  border-top: none;
}

.accordionItem.lastItem {
  border-bottom: none;
}

.accordionTitle {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 10px 0;
  font-family: var(--font-geogrotesque);
  font-weight: 600;
  font-size: 85px;
  color: #231F20;
  line-height: 90%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1.3s ease;
  /* transition: transform 0.3s ease-out; */
}

.accordionTitle:hover {
  transform: translateY(10px);
}

.accordionTitle.open {
  transform: translateY(10px);
}

.accordionContent {
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.accordionDescription {
  font-family: var(--font-superclarendon);
  font-weight: 400;
  font-size: 18px;
  color: #231F20;
  line-height: 118%;
  margin-top: 50px;
  white-space: pre-wrap;
  padding:0 40px 15px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .servicesAccordion {
    padding: 0;
  }

  .container {
    flex-direction: column;
    gap: 0;
  }

  .imageColumn {
    width: 100%;
    height: 50vh;
    min-height: 300px;
  }

  .imageWrapper {
    width: 100%;
    height: 100%;
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .accordionColumn {
    width: 100%;
    padding: 20px 20px 40px 20px;
  }

  .accordionTitle {
    font-size: 50px;
  }

  .accordionDescription {
    font-size: 16px;
    margin-top: 40px;
  }
}

