/* 
 * Color Palette Guide:
 * Black: #231F20
 * Light Beige: #E8EAE1  
 * Orange: #F7550C
 */

/* 
 * Responsive Breakpoint Guide:
 * XS: 0px – 575px (Default CSS / No Query) - Portrait phones
 * SM: 576px+ @media (min-width: 576px) - Landscape phones, very small tablets
 * MD: 768px+ @media (min-width: 768px) - Standard tablets (portrait)
 * LG: 992px+ @media (min-width: 992px) - Laptops and small desktop monitors
 * XL: 1200px+ @media (min-width: 1200px) - Wide screen laptops and large monitors
 * Wide Desktop: 1440px+ @media (min-width: 1440px) - Large iMacs or high-resolution laptops
 * Full HD: 1920px+ @media (min-width: 1920px) - Full HD (1080p) monitors and larger
 */

@font-face {
  font-family: 'Geogrotesque';
  src: url('/fonts/GeogrotesqueCompTRIAL-SmBd.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Superclarendon';
  src: url('/fonts/Superclarendon-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-geogrotesque: 'Geogrotesque', sans-serif;
  --font-superclarendon: 'Superclarendon', serif;
  --background: #ffffff;
  --foreground: #E8EAE1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #231F20;
    --foreground: #E8EAE1;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Container Classes */
.container {
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}